@media screen and (max-width: 1024px) {
    #con .con2 img { width: 200px; }
    #con .con2 .ssdesc { font-size: 18px; }
}
@media screen and (max-width: 768px) {
    #visual { height: 280px; }
    #visual .tit { padding-top: 164px; }
    
    #con .tit { padding-top: 50px; font-size: 40px; }
    #con .stit { padding-top: 50px; }
    #con .sdesc { font-size: 23px; }
    
    #con .con1 .content .icons li { margin: 0 30px; }
    #con .con1 .content img { width: 80px; }
    #con .con2 { padding-bottom: 39px; }
    #con .con2 .con_list li { 
        width: 36%; margin-bottom: 30px; }
    
}
@media screen and (max-width: 480px) {
/*    .navi .menu li { width: 150px;}
    .navi .menu .text { background-position: 137px center; }
    .navi .menu .text.on { background-position: 137px center; }
    */
    #con .sdesc { font-size: 17px; }
    .pc_text { display: none; }
    .m_text {display: block; }
    
    #con .con1 .content .bg { 
        background-image: url(../images/sub1/images/bg_con1_sub1_m_2.jpg); 
    }
    #con .con1 .content .icons { top: 50px; }
    #con .con1 .content .icons li { margin-bottom: 20px; }
    #con .con1 .hope { display: none; }
    
    #con .con2 { padding-bottom: 20px; }
    #con .con2 .con_list li { width:  45%; }
    #con .con2 .sstit { font-size: 20px; }
    #con .con2 .ssdesc { font-size: 16px; }
    #con .con2 img { width: 140px; }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    #visual { height: 230px; }
    #visual .tit { 
        font-size: 32px; 
        padding-top: 140px;
    }
/*    .navi { height: 40px; }
    .navi .menu li { width: 105px; }
    .navi .menu li.home { width: 40px; height: 40px; }
    .navi .menu .text { 
        background-position: 100px center;
        font-size: 15px;
    }
    .navi .menu>li>a { line-height: 40px; }
    .navi .menu .text.on { background-position: 100px center; }
    */
    #con .tit { font-size: 30px; }
    #con .stit { font-size: 22px; }
    #con .sdesc { font-size: 15px; }
    #con .con2 .sstit { font-size: 18px; }
    #con .con2 .ssdesc { font-size: 13px; }

}